body {
    margin-top: 60px;
}

.caption , div.row h3 {
word-wrap: normal;
}

.thumbnail img {
	
	width: 80%;
	height: 80%;
	
}

.polyFigure {	
	display: flex;
  	justify-content: center;
  	align-items: center;
}

div.thumbnailStyle  p {
	
	font-size: 1.0vw;
	font-weight: 800;
}

